* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

/* .beat img{
    width: 300px;
    height: 300px;
    transform: scale(1);
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    
}

.beat img:hover{
    transform: scale(1.2);
} */

.beat img {
  width: 300px;
  height: 300px;
  transform: scale(1);
  animation-name: heartbeat;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.spin {
  border: 5px solid crimson;
  /* border-radius: 100%; */
  width: 50px;
  height: 50px;
  animation-name: spin;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    border: 5px solid green;
    
  }
}



main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center
}
.ball{
    background-color: red;
    border: 2px solid black;
    padding: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    animation-name: bounce;
    animation-duration: 0.55s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0%, 100%{
        transform: translateY(0px);
        width: 93px;
    }
    50%{
        transform: translateY(-200px);
        width: 70px;

    }
    
}